html{
   width: 1300px;
   margin: auto;
   background-color: black;}
body {
   background-color:#76D7C4;
   border: double 5px;
   padding: 10px;
   font-family: verdana}
h1{
   color: navy;
   border-bottom: solid 2px;
   text-align: center;}
p{
   color: red;}

p.caption{
   font-size: 30px;
   font-variant: small-caps;}

img{
   border-radius: 50px;
   border: solid 3px white;
   padding: 5px;
margin-bottom: 15px;}